<div class="ui segment">
  <form class="ui form" ng-submit="$ctrl.save()">
    <div class="field">
      <label>Photo</label>
      <img class="ui small image" ng-src="{{$ctrl.photo}}">
      <input type="file" onchange="angular.element(this).scope().$ctrl.selectedFile(this)">
    </div>
    <div class="field">
      <label>Name</label>
      <input ng-model="$ctrl.name">
    </div>
    <div class="field">
      <label>About me</label>
      <input ng-model="$ctrl.aboutMe">
    </div>
    <button class="ui submit blue button" ng-class="{loading: $ctrl.saving}">Save</button>
  </form>
</div>